/* - Mobile: 375px
- Desktop: 1440px */
/* css  custom properties */
:root {
  /* ## Colors */
  /* ### Primary */
  --blue: hsl(246, 80%, 60%);
  --light-red1: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --light-red2: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);
  /* ### Neutral */
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  /* main color */
  --main-clr: var(var(--dark-blue));
  /* ## Fonts */
  --font: 18px 'Rubik', sans-serif;
  /* ## other */
  --border-radius: 0.5rem;
  --gap1: 1rem;
}
body {
  /* Font size: 18px (card titles e.g. Work, Play) */
  font: var(--font, 18px sans-serif);
  /* Weights: 300, 400, 500 */
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  font: inherit;
}
.text-decoration-none {
  text-decoration: none;
}
/* share classes */
.text-secondary {
  color: var(--desaturated-blue);
}
.main-clr {
  color: var(--main-clr);
}
.dashboard-data {
  display: grid;
  /* min-max(auto/min-content/fit-content/max-content, 1fr) - TODO: */
  grid-template-columns: repeat(auto-fit, minmax(fit-content, 1fr));
}
